<!DOCTYPE html>
<html>
<head>
  <title>背景画像の挿入</title>
    <style>
      body {
        background-image: url(<%= asset_url 'home-bg.jpg' %>);
        /* 背景画像の表示方法を指定する場合は、background-size, background-positionなどのプロパティを追加することができます */
        background-size: cover; /* 画面いっぱいに表示 */
        background-position: center center; /* 画像を中央に表示 */
        /* その他のスタイルを追加 */
      }
    </style>
</head>

  <body>
    <div id="top" class="big-bg">

      <div class="top-content">
      <br>
      <h2>"Writer's Base"へようこそ</h2>
      <hr>
      <p>Writer's Baseは、文章を書く人のためのバージョン管理サービスとコミュニティ支援サービスを提供しています。</p>
      <p>執筆途中で複数の描写方法を比較対照する際、変更箇所や他のバージョンとの違いがわからなくなって困ったことはありませんか？</p>
      <p>Writer's Baseの力を借りれば、バージョンを複製・保存することで、変更履歴や箇所を手軽に比較できます。</p>
      <p>さらに、自分の作品や世界観を仲間と共同編集し、アップデートすることが可能です。</p>
      <p>当サイトは、共同創作のためのコミュニティの場として機能し、あなたの創造力を最大限に引き出します。</p>
      <p>Writer's Baseで、一緒に素晴らしい作品を生み出しましょう！</p>

      <h3>アプリケーションの機能</h3>
      <ol>
        <li>文章のバージョン管理・差分表示</li>
        <li>イシューの設定が可能</li>
      </ol>

      <!--------未記述 追記修正予定------------>
      </div>
    </div>
  </body>
</html>