<!-- 変更後のHTML -->
<div class="branch-edit-container">
  <h1 class="title">
    <i class="fas fa-code-branch"></i>&nbsp;
    Editing Branch
  </h1>

  <%= render 'form', branch: @branch %>

  <div class="branch-actions">
    <%= link_to '<i class="fas fa-eye"></i>Show'.html_safe, @branch %>
    <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, branches_path(@branch, repository_id: @repository) %>
  </div>
</div>
