<div class="follow-wrapper">
  <div class="following-container box-container">
    <h2>フォロー</h2>
    <ul>
      <% @user.following.each do |following| %>
        <li><%= link_to following.name, following %></li>
      <% end %>
    </ul>
  </div>
</div>