<div class="repository-form-container">
  <h1><i class="fas fa-plus-circle"></i>&nbsp;New Document</h1>
  <%= render 'form', document: @document, repository_id: params[:repository_id], branch_id: params[:branch_id] %>
  <%# binding.pry  %>
<%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, documents_path(@document, repository_id: @repository.id, branch_id: @branch.id) %>
</div>