<h1>New Document</h1>

<%= render 'form', document: @document, repository_id: params[:repository_id], branch_id: params[:branch_id] %>
<%# binding.pry  %>
<%= link_to 'Back', documents_path(@document, repository_id: @repository.id, branch_id: @branch.id) %>
