/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #1a73e8;
}

a:hover {
  text-decoration: underline;
}

button, a.button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover, a.button:hover {
  background-color: transparent;
}

button i, a.button i {
  margin-right: 3px;
}

/* Container */
.row.justify-content-md-center {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Version Info */
.version-info {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

/* Back Link */
.back-link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.back-link i {
  margin-right: 3px;
}

.back-link:hover {
  color: #0056b3;
}

/* Revert Button */
.revert-btn {
  background-color: #007bff;
}

.revert-btn:hover {
  background-color: #0056b3;
}

.revert-btn i {
  margin-right: 3px;
}

/* Version Title */
.version-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Attribute Title */
.attribute-title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.attribute-title i {
  margin-right: 3px;
}

/* Attribute Content */
.attribute-content {
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
}

/* Index */
.documents-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #e0e0e0; /* 枠の色と太さを指定 */
  border-radius: 5px; /* 枠の角を丸める */
  background-color: #FFFFFF;
}

.document-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-bar {
  flex-grow: 1;
  text-align: center;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

.documents-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.documents-table thead {
  background-color: #f4f4f4;
}

.documents-table td, .documents-table th {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
}

.documents-table th {
  min-width: 80px;
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.documents-table p {
  font-size: 0.75rem;
  margin-bottom: 0px;
}

.read-more-link {
  font-size: 0.75rem;
}

.content-wrapper p {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
.documents-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.documents-table tr:hover {
  background-color: rgba(26, 115, 232, 0.1);
}

.documents-table a:hover {
  color: #1155cc;
}

.pagination-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.new-document-link {
  text-align: center;
}

.new-document-link a {
  display: inline-block;
  background-color: #1a73e8;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 3px;
}

.new-document-link a:hover {
  background-color: #1155cc;
  text-decoration: none;
}

.action-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.new-document-btn {
  background-color: #007BFF;
  margin-right: 5px;
}

.new-document-btn:hover {
  background-color: #0056b3;
  text-decoration: none;
}

textarea {
  min-height: 300px;
  font-size: 0.75rem;
  font-family: 'Noto Sans JP', sans-serif;
}