/* Common Styles */
.repository-form-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

h1 i {
  margin-right: 0.5rem;
}

/* Form Styles */
.repository-form {
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field label {
  margin-bottom: 0.5rem;
}

.field input,
.field textarea,
.field
.field select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 3px;
  }
  
  .actions {
  display: flex;
  justify-content: flex-end;
  }
  
  .actions input[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  
  .actions input[type="submit"]:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  }
  
  /* Links */
  a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
  }
  
  a:hover {
  color: #0056b3;
  }
  
  a i {
  margin-right: 0.25rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
  .repository-form-container {
  width: 90%;
  }
  }

  /* Show Page */
.repository-show-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.repository-show-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.repository-show-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.repository-show-container table thead {
  background-color: #f7f7f7;
  font-weight: bold;
}

.repository-show-container table th,
.repository-show-container table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #f1f1f1;
}

.repository-show-container table th {
  padding: 0.75rem;
}

.repository-show-container table tbody tr:hover {
  background-color: #f1f1f1;
}

.repository-show-container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Index Page */
.repository-index-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.repository-index-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.repository-index-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.repository-index-container table thead {
  background-color: #f7f7f7;
  font-weight: bold;
}

.repository-index-container table th,
.repository-index-container table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #f1f1f1;
}

.repository-index-container table th {
  padding: 0.75rem;
}

.repository-index-container table tbody tr:hover {
  background-color: #f1f1f1;
}

.repository-index-container .search-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.repository-index-container .search-form input[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.repository-index-container .search-form input[type="submit"]:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .repository-show-container {
    width: 90%;
  }

}

/*searching*/
.search-container {
  display: flex;
  align-items: center;
}

.search-container h1 {
  margin-right: 20px;
}

.form-control {
  width: 100%;
  min-width: 200px; /* 検索ワード欄の最小幅を設定 */
}

.search-form {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.btn.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 0;
}
