// Place all the styles related to the repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-content_title {
  margin-left: 80px;
  padding: 0;
}

.top-content {
  margin-left: 100px;
  padding: 0;
}

