// Place all the styles related to the repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-info h2,
.user-info h3 {
  margin: 0;
  padding: 0;
}

.user-info h3 {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
}

.user-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #333;
}

.user-name:hover {
  color: #555;
}

.send-message {
  display: inline-block;
  background-color: #0099cc;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
}

.send-message:hover {
  background-color: #0077aa;
}

/*follow*/
.follow-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
}

.follow-button:hover {
  background-color: white;
  color: #4CAF50;
}

/*search 検索フォームのスタイル */
.search-form {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  margin-bottom: 30px;
}

.search-form .form-control {
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}

.search-form .btn {
  padding: 0.5rem 1rem;
  width: 100px; /* ここでボタンの横幅を設定 */
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.search-form .btn:hover {
  background-color: #0069d9;
}


/*user_show*/
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 2rem;
}

.profile-info,
.repository-info,
.conversation-info {
  flex: 1;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .profile-info,
  .repository-info,
  .conversation-info {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/*user_show*/
.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profile-info,
.repository-info,
.conversation-info {
  flex: 1;
  margin: 0 0 0 2rem;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .profile-info,
  .repository-info,
  .conversation-info {
    flex-basis: 100%;
    margin: 1rem 0;
  }
}

/*user_show_table*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table th,
table td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #dee2e6;
}
  
table th {
  background-color: #e9ecef;
  color: #495057;
}

@media (min-width: 768px) {
  .profile-info,
  .repository-info,
  .conversation-info {
    margin-right: 2rem;
  }
  .conversation-container .conversation-info:last-child {
    margin-right: 0;
  }
}
